<%-include('../partials/header')%>
<h1>
	REGISTER HERE
</h1>

<form action="/register" method="POST" enctype="multipart/form-data">
	Name
	<input type="text" name="name">
	Username
	<input type="username" name="username">
	Password
	<input type="password" name="password">
	<input type="file" name="DP" VALUE="https://image.shutterstock.com/image-vector/unknown-user-profile-600w-1228715254.jpg">
	Profile Picture.
	<input type="submit">
</form>
<%-include('../partials/footer')%>