<!DOCTYPE html>
<html>
<head>

<title>questions page</title>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
</head>
<body>
	

	<header>
		<h1>CATEGORIES OF QUESTIONS: CHOOSE ONE AND START SOLVING</h1>
	</header>
	<ul>
		
		<li><a href="./questions/dbms">Database Management Questions</a></li>
		<li><a href="./questions/os">Operating System Questions</a></li>
		<li><a href="./questions/network">Networks and Communication Questions</a></li>
		<li><a href="./questions/dsa">Data Structures and Algorithms Questions</a></li>
		<li><a href="./questions/aptitude">Aptitude Questions</a></li>
	</ul>
	





	<br><br><br><br><br>
	<a href="./questions/new">Add new questions</a>

	<br><br>
	<a href="/questions">Back to home</a>



	


</body>


</html>